# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
.idea
*.ipr
*.iws

# gradle
build
.gradle

# other
eclipse
run
logs
.vscode
/test

# Files from Forge MDK
forge*changelog.txt
